<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cowboy Beboop -home-</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">        <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>

    <nav id= "nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/images/171399-middle.png" alt="" width="80" height="60">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">Sinichiro Watanabe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/works">More Animes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="/photo-gallery">Galleries</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div id= "cuerpo">

      <h1 id= "homeh1">Shinichiro Watanabe</h1>

      <img id="caratula" src="/images/Shinichiro_Watanabe.jpg" alt="">
      <p>
        Shin'ichirō Watanabe (渡辺 信一郎 Watanabe Shin'ichirō?, Kioto, Japón, 24 de mayo de 1965) es un director japonés de anime conocido principalmente por sus obras Cowboy Bebop y Samurai Champloo.1​ También dirigió los cortos Kid's Story y A Detective Story de The Animatrix. Watanabe se distingue por mezclar distintos géneros. Es el caso de Cowboy Bebop, donde se mezclan el cine «western» clásico con el cine negro de los años 1940-1950, películas de acción de Hong Kong y jazz, junto con otros géneros. En Samurai Champloo la mezcla es entre distintas culturas de Okinawa, el hip-hop, las historias de samuráis y el Japón moderno.
      </p>
    </div> 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>