<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cowboy Beboop -home-</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">        <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>

    <nav id= "nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/images/171399-middle.png" alt="" width="80" height="60">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">Sinichiro Watanabe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/works">More Animes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="/photo-gallery">Galleries</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
   
    <div class='container'>
        <div class="row">
            <h1 id="homeh1">More Animes</h1>
        </div>
        <div class='row'>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="/images/Samurai-Champloo-Generacion-Friki-PORTADA.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Samurai Champloo</h5>
                        <p class="card-text">Dos guerreros samurai rivales están lejos de ser amigos, pero sus caminos se cruzan cuando se embarcan en una búsqueda con Fuu, una camarera, para encontrar un misterioso samurai.</p>
                        <a href="#" class="btn btn-primary">Anime Info</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="/images/Anime-Carole-Tuesday.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Carole & Tuesday</h5>
                        <p class="card-text">Carole, que trabaja a tiempo parcial, conoce a una chica rica llamada Tuesday y cada una se da cuenta de que ha encontrado la pareja musical que necesita.</p>
                        <a href="#" class="btn btn-primary">Anime Info</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="/images/Anime-Macross-Plus.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Macross Plus</h5>
                        <p class="card-text">Macross Plus es un OVA de mechas de 1994. Dentro de la franquicia Macross es continuación de Macross Zero, The Super Dimension Fortress Macross y Macross Flashback 2012.
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class='container'>
        <div class='row'>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="/images/Anime-Zankyou-no-Terror.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Zankyo no terror</h5>
                        <p class="card-text">Zankyō no Terror, también conocida como Terror in Tokyo en Japón y Terror in Resonance en Estados Unidos, es una serie de anime producida por Dentsu Inc., Aniplex y Fuji Television Network, y animada por el estudio MAPPA</p>
                        <a href="#" class="btn btn-primary">Anime Info</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="/images/Anime-Space-Dandy.jpg"class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Dandy es un explorador espacial elegante en la búsqueda de extraterrestres nunca antes vistos.</p>
                        <a href="#" class="btn btn-primary">Anime Info</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="images/Sakamichi_no_apollon_Portada.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Sakamichi no Apollon es una serie manga escrita por Yuki Kodama. El manga fue adaptado en el 2012 a una serie de anime titulada en inglés como Kids on the Slope </p>
                        <a href="#" class="btn btn-primary">Anime Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>